<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-webserver"
    version="1.0.0">
    
    <name>WebServerPlugin</name>
    
    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
    </engines>

    <js-module name="WebServerPlugin" src="www/WebServerPlugin.js">
        <clobbers target="cordova.plugins.webServer" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="GradlePluginKotlinVersion" value="1.3.50" />
            
            <feature name="WebServerPlugin">
                <param name="android-package" value="webserverplugin.WebServerPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml" >
              <service android:name="webserverplugin.WebServerService" android:stopWithTask="false" />
        </config-file>
        <!--  -->
        <source-file src="src/gradle/webserver-plugin-build-extras.gradle" target-dir="."/>
        <source-file src="src/android/WebServerPlugin.kt" target-dir="src/main/kotlin/webserverplugin" />
        <source-file src="src/android/WebServer.kt" target-dir="src/main/kotlin/webserverplugin"/>
        <source-file src="src/android/WebServerService.kt" target-dir="src/main/kotlin/webserverplugin"/>
        <source-file src="src/android/RequestResult.kt" target-dir="src/main/kotlin/webserverplugin"/>
        <source-file src="src/android/FakeCordovaWebViewImpl.kt" target-dir="src/main/kotlin/webserverplugin"/>
        <source-file src="src/android/util/Ext.kt" target-dir="src/main/kotlin/webserverplugin/util"/>
        <source-file src="src/android/util/RequestErrorMapper.kt" target-dir="src/main/kotlin/webserverplugin/util"/>
        <!--  -->
        <framework src="src/gradle/webServerPlugin.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
